
.bg-loading {
  background: linear-gradient(90deg, rgb(218, 218, 218), rgb(173, 173, 173));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

.LoadingTodo-container{
  background: linear-gradient(90deg, var(--background-color2), var(--background-color2));

}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}